.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.dark-bg {
    background: #252525;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.center-text {
    text-align: center;
}

h1 {
    color: gold;
    font-size: 56px;
    font-family: "Yu Gothic", sans-serif;
}

.highlight {
    color: lightcoral;
    font-weight: bold;
}

.correct {
    color: white;
    font-size: 32px;
    font-family: "Yu Gothic", sans-serif;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 20%;
}

.incorrect {
    color: lightcoral;
    font-size: 32px;
    font-family: "Yu Gothic", sans-serif;
    text-decoration-line: underline;
    text-decoration-color: lightcoral;
    text-underline-offset: 20%;
}

.undone {
    color: lightslategray;
    font-size: 32px;
    font-family: "Yu Gothic", sans-serif;
    text-decoration-line: underline;
    text-decoration-color: lightslategray;
    text-underline-offset: 20%;
}

button {
    width: 200px;
    height: 50px;
    
    font-size: 30px;
    color: antiquewhite;
    
    background: limegreen;
    border: 2px darkgrey solid;
    border-radius: 10px;
}
button:hover {
    border: 4px darkgrey solid;
}